/* Write your CSS code here */
.currency-img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6px;
  padding-right: 10px;
  list-style-type: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.currency-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
}

.usd {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  margin-right: 20px;
  text-align: right;
}

.euro {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  text-align: right;
}
